<div class="container text-center mt-5">
    <i class="fa fa-smile text-success" style="font-size:100px"></i>
    <h1 class="text-success">Your Order is Done, Thank you</h1>
    <button class="btn btn-outline-success btn-lg mt-4" asp-action="Index" asp-controller="Home">Back Home</button>
</div>

